<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760301518777-djqara5q72v6tg2eums8apgchkp9uu5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760301518777-djqara5q72v6tg2eums8apgchkp9uu5e</string>
	<key>API_KEY</key>
	<string>AIzaSyDbIEBp0JFgbTjnL379q9I9t2HZZ2hCxfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>760301518777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebasePushnotification</string>
	<key>PROJECT_ID</key>
	<string>flutter-push-notificatio-74720</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-push-notificatio-74720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760301518777:ios:825a9a0e5fe146a87e8068</string>
</dict>
</plist>